$text-color: #242325;
$primary-color: #7174C2;
$primary-color-dark: #4d4f87;
$secondary-color: #B8B9D0;
$background-color: #F4F4F5;
$shade-color: #efeff5;

$primary-background: #ffffff;
$secondary-background: #f6f7fb;

$test-border: 1px dotted red;